table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    
  }
  p{
    font-size: 35px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .button{
    font-size: 30px;
    text-align: center;
  }
  .space{
    padding-top: 50px;
    
   
  }
  .eliminated{
    width: 100%;
    height: 200px;
  }